@import "tailwindcss";

@theme {
  --color-brand-chili: #8B0000;
  --color-brand-olive: #3b4230;
  --color-brand-turmeric: #F4C430;
  --color-brand-laterite: #5C3A21;
  
  --font-sans: "Inter", "Helvetica Neue", sans-serif;
  --font-serif: "Merriweather", "Georgia", serif;
}

@layer base {
  body {
    @apply bg-brand-olive text-zinc-100 font-sans antialiased overflow-x-hidden;
  }
}
